<div class='container'>
  <div class='logo'>
    <%= image_tag "main_logo.png", alt: "Maiolo Cocktails"%>
  </div>
  <div class = "main_page">
    <div class="cards">
      <%@cocktails.each do |cocktail|%>
        <div class="card">
          <%# reservado para imagem %>
          <div class="card-body">
            <h5 class="card-title"><%=cocktail.name%></h5>
          </div>
        </div>
      <%end%>
    </div>
    <%= link_to "Create a Cocktail", new_cocktail_path, class: "btn btn-primary"%>
  </div>
</div>