// Specific CSS for your home-page
$break-small: 700px;

.container {
  width: 80%;
  margin: auto;


  .logo {
    width: 50%;
    margin: auto;
    @media screen and (max-width: $break-small){
      width: 50%;
      margin: 0;
    }
  }
}

.main-logo {
  @media screen and (max-width: $break-small){
    width: 150%;
  }
}

.main_page { 
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.doses {
  display: flex;
  justify-content: space-evenly;
}

.dropdown-doses {
  width: 300px;
}